a.btn {
  position: relative;
  top: auto;
  margin-top: auto;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: right;
  border: 2px solid #333;
  border-radius: 0px;
  background-color: #00f6aa;
  color: #333;
  display: inline-block;
  padding: 9px 15px;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    border-color: #333;
    background-color: #333;
    color: #00f6aa;
  }
}